/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"); /* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  font-family: "Rubik", sans-serif !important;
  margin: 0;
  padding: 0;
}

.font-rubik {
  font-family: "Rubik", sans-serif !important;
}
/* Custom Style */

.top-bar-area {
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.05) !important;
  background: #ffffff !important;
  position: relative;
  z-index: 5;
}

.mat-drawer-container {
  position: inherit;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    span {
      color: #ffffff !important;
    }
  }
  span {
    color: #fff;
  }
  .mat-icon {
    color: #fff !important;
  }
}

/* Tab  Style */
.contribution-interval-wrapper {
  padding: 48px;
  display: flex;
  flex-direction: column;
  min-height: calc(90vh - 64px);
}
p {
  font-size: 40px;
  color: #333;
}

.main-dashboard {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

/* banner - END*/

.tab-a {
  height: 100%;
  width: 100%;
}
.tab-a .tab-link {
  padding: 12px 16px;
  border-radius: 16px;
  background: #fff;
  width: 100%;
  border-bottom: 2px solid #fff;
  transition: 0.2s all linear;
  cursor: pointer;
  height: 100%;
}
.tab-a .tab-link .tab-title {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 8px;
}
.tab-a .tab-link .tab-title .tab-title-pra {
  color: #000;
  font-size: 14px;
  font-weight: 700;
}

.tab-a .tab-link .tab-pra {
  color: #5a5a5a;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

.tab-a.active .tab-title-pra {
  color: #5a5a5a !important;
}
.tab-a.active .tab-pra {
  color: #000 !important;
}
ul {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  padding: 0;
}
ul li {
  list-style-type: none;
  width: 100%;
}
.tab {
  display: none;
}
.tab-active {
  display: block;
}
.f-14 {
  font-size: 14px !important;
}
.step-tab-wrap {
  display: flex !important;
  gap: 12px !important;
}
/* banner - END*/
/* arrow-shape - start*/
.step {
  padding: 0px !important;
}
.step .step-menu-wrap {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 32px;
  align-items: center;
}
.step .step-menu-wrap .step-item {
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffe28e;
  padding: 0 24px;
  position: relative;
  width: 100%;
  border: 0px solid transparent;
  font-size: 14px;
  font-weight: 700;

  &:last-child {
    margin-right: 0px !important;
  }
}
.step .step-menu-wrap .step-item::after {
  content: "";
  position: absolute;
  background-color: #ffe28e;
  clip-path: polygon(25% 0%, 57% 0, 100% 50%, 57% 100%, 25% 100%, 25% 50%);
  width: 30px;
  height: 100%;
  right: -18px;
}
.step .step-menu-wrap .step-item::before {
  content: "";
  position: absolute;
  background-color: #ffe28e;
  clip-path: polygon(62% 0, 100% 50%, 62% 100%, 0% 100%, 41% 49%, 0% 0%);
  width: 30px;
  height: 100%;
  left: -18px;
}
.step .step-menu-wrap .step-item:first-child {
  border-radius: 16px 0 0 0;
}
.step .step-menu-wrap .step-item:first-child::before {
  clip-path: polygon(25% 0%, 100% 0, 100% 50%, 100% 100%, 25% 100%, 25% 50%);
  background-color: #ffe28e;
  border-radius: 16px 0 0 0;
  width: 20px;
  left: 0;
}
.step .step-menu-wrap .step-item:last-child {
  border-radius: 0 16px 0 0;
}
.step .step-menu-wrap .step-item:last-child::after {
  clip-path: polygon(25% 0%, 100% 0, 100% 50%, 100% 100%, 25% 100%, 25% 50%);
  background-color: #ffe28e;
  border-radius: 0 16px 0 0;
  width: 20px;
  left: 0;
}
.step .tab-contents {
  background-color: #fff;
  border: 1px solid #eaeaea;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  border-radius: 0px 0px 16px 16px;
  padding: 24px;
}
.step .tab-contents .fs-14 {
  font-size: 14px;
}
.step .tab-contents .button-wrap {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
  margin-top: 24px;
}
.step .tab-contents .button-wrap .step-button {
  height: 42px;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  border-radius: 50px;
  justify-content: center;
  border: 1px solid #5a5a5a;
  background: transparent;
  font-size: 14px;
  font-weight: bold;
  transition: 0.2s all linear;
}
.step .tab-contents .button-wrap .step-button:hover {
  background-color: #5a5a5a !important;
  color: #fff;
}
.step .tab-contents .button-wrap .step-button.fill {
  background-color: #000 !important;
  color: #fff;
  transition: 0.2s all linear;
}
.step .tab-contents .button-wrap .step-button.fill:hover {
  background-color: #5a5a5a !important;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background: #f2f2f2 !important;
  border-radius: 150px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -1px;
    width: 100%;
    background: #f2f2f2;
    height: 2px;
    z-index: 1;
  }
  &:hover {
    background: #f2f2f2 !important;
  }
}
.mat-mdc-text-field-wrapper:hover .mat-mdc-form-field-focus-overlay {
  opacity: 0 !important;
}

.mat-mdc-select-arrow svg {
  display: none !important;
}
.mat-mdc-select-arrow {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    left: -5px;
    top: -5px;
    width: 16px;
    height: 16px;
    background: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.2797 5.9668L8.93306 10.3135C8.41973 10.8268 7.57973 10.8268 7.06639 10.3135L2.71973 5.9668" stroke="%23B3B3B3" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    z-index: 9;
  }
}

.mdc-text-field--filled:not(.mdc-text-field--disabled):not(
    .mdc-text-field--focused
  )
  .mdc-floating-label {
  color: #999 !important;
}

.mdc-list-item__primary-text {
  font-family: "Rubik", sans-serif !important;
}

div.mat-mdc-select-panel {
  background: #fff !important;
  border-radius: 8px !important;
  box-shadow: 0px 16px 26px 0px rgba(0, 0, 0, 0.19) !important;
}
.mat-mdc-option.mdc-list-item {
  background: transparent !important;
  border-bottom: 1px solid #f2f2f2 !important;

  &:last-child {
    border-bottom: none !important;
  }
}
.mat-mdc-option.mdc-list-item .mdc-list-item__primary-text {
  font-size: 14px !important;
  color: #999 !important;
}
.mat-mdc-option.mdc-list-item:hover .mdc-list-item__primary-text {
  color: #000 !important;
}
/* Input Select Style */

.tab-checkbox-wrap {
  gap: 12px;
  justify-content: center;
  align-items: stretch;
}

.check-box-item {
  padding: 24px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #ffffff;
  cursor: pointer;
  font-family: "Rubik", sans-serif !important;
  height: 100%;
  cursor: pointer !important;
  position: relative;
  min-height: 168px;

  &::after {
    position: absolute;
    content: "";
    right: 20px;
    top: 28px;
    width: 20px;
    height: 20px;
    background: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="10" cy="10" r="9.58333" stroke="black" stroke-width="0.833333"/></svg>');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &.mat-mdc-radio-checked {
    border: 1px solid #fbc52c;
    background: #fff9e7;
    cursor: pointer !important;

    &::after {
      background: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="10" cy="10" r="9.5" stroke="black"/><circle cx="10.0003" cy="9.99935" r="5.83333" fill="%23BBEF5C"/></svg>');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  h6 {
    font-size: 14px;
    color: #000;
    font-weight: 800;
    line-height: 1.71; /* 171.429% */
    font-family: "Rubik", sans-serif !important;
    padding-bottom: 24px;
    margin-bottom: 0;
    cursor: pointer !important;
    padding-top: 3px;
  }
  p {
    font-size: 14px;
    color: #000;
    font-weight: 400;
    font-family: "Rubik", sans-serif !important;
    cursor: pointer !important;
    margin-bottom: 0;
    line-height: 1.71;
  }
  .mdc-radio {
    display: none !important;
  }
}

.selected-date-wrap {
  color: #323232;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  margin-top: 24px;
}
/* Checkbox Style */

.mat-calendar-header,
.mat-calendar-body-label {
  display: none !important;
}
.cdk-overlay-pane {
  max-height: 265px !important;
}
.mat-datepicker-content {
  // Border radious...
  border-radius: 8px !important;
  border-top: 1px solid #ff0032 !important;
  background: #fff !important;
  box-shadow: 0px 16px 36px 0px rgba(0, 0, 0, 0.26) !important;
  position: relative !important;
  &::before {
    position: absolute;
    content: "";
    top: -8px;
    left: 12px;
    width: 22px;
    height: 8px;
    background: url('data:image/svg+xml,<svg width="22" height="8" viewBox="0 0 22 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 0L22 8H0L11 0Z" fill="%23FF0032"/></svg>') !important;
  }
}

.mat-calendar-body-cell-content,
.mat-calendar-body,
.mat-calendar-table-header {
  font-family: "Rubik", sans-serif !important;
}
.mat-calendar-table-header th {
  font-weight: 400 !important;

  &:last-child {
    color: #ff0032 !important;
  }
}
.mat-calendar-table-header tr th.col span {
  font-weight: 400 !important;
}

.mat-calendar-content {
  margin-top: 26px !important;
}

.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover
  > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(
    .mat-calendar-body-comparison-identical
  ) {
  background: #ffdfe5 !important;
}
.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover
  > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(
    .mat-calendar-body-comparison-identical
  ) {
  background: #ffdfe5 !important;
}
.mat-calendar-body-today:not(.mat-calendar-body-selected):not(
    .mat-calendar-body-comparison-identical
  ) {
  border: none !important;
}
.mat-calendar-body-cell-content.mat-focus-indicator.mat-calendar-body-today {
  background: transparent !important;
  color: #ff0032 !important;
}
.mat-calendar-body-selected {
  background: #ffdfe5 !important;
  color: #ff0032 !important;
}

.basic-setting {
  color: #5a5a5a;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  text-transform: uppercase;
}

.mat-mdc-form-field-has-icon-prefix .mat-mdc-text-field-wrapper {
  padding-left: 10px !important;
}

.due-date {
  color: #323232 !important;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400 !important;
}

.mat-mdc-select-value-text,
.mat-mdc-select-min-line {
  font-family: Rubik;
  font-size: 14px !important;
}
.mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
  display: none !important;
}
/* Calendar style */

/*  Overview Datatable start */
.overview-datatable {
  border-radius: 0px 0px 16px 16px;
  border: 1px solid #eaeaea;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  padding: 28px 24px 24px 24px;
}
/*  Overview Datatable end */

#pills-tab button {
  padding: 0px;
}
#pills-tab button.active .tab-link {
  border-bottom: 2px solid #ff0032;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
}
#pills-tab button .tab-a .tab-link .tab-title .check {
  width: 16px;
  height: 16px;
  border-radius: 100px;
  flex-shrink: 0;
  position: relative;
  z-index: 9;
  background: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="8" cy="8" r="7.66667" stroke="%23999999" stroke-width="0.666667"/></svg>');
}
#pills-tab button.active .tab-a .tab-link .tab-title .check {
  width: 16px;
  height: 16px;
  background: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="8" cy="8" r="7.66667" stroke="black" stroke-width="0.666667"/><circle cx="8.00016" cy="8.00065" r="4.66667" fill="%23BBEF5C"/></svg>');
  z-index: 99;
  background-repeat: no-repeat;
  background-size: contain;
}

.text-dark-2 {
  color: #5a5a5a;
}
/* arrow-shape - END*/

/* Tab  Style */
